<!DOCTYPE html>
<html>
<head>
<title>Recordando HTML</title>
</head>
<body>

<h1>Welcome to my page!!</h1>
<table style="width:400%">
<tr>
<HR ALIGN = "center" size = "5" color = "red">
<DIV ALIGN = left>
<pre>
Hola hola hola hola hola hola hola hola hola hola 

Hola hola hola hola hola hola hola hola hola hola 

Hola hola hola hola hola hola hola hola hola hola 

Hola hola hola hola hola hola hola hola hola hola 

</pre> 
</DIV>
</tr>

<tr>
<DIV ALIGN = right>
<pre>
 Hello hello hello hello hello hello hello hello

 Hello hello hello hello hello hello hello hello

 Hello hello hello hello hello hello hello hello

 Hello hello hello hello hello hello hello hello

</pre>
 </DIV>
</tr>
</table>
</body>
</html>

<%= link_to 'About', about_path %>